*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


ul li{
    display:inline-block;
    font-weight:bold;
    text-transform:uppercase;
    padding:5px 10px;
}

.main{
    background-color:#FF4A26FF;
    color:white;
}

.pt-5{
    background:url('./images/w.jpg') no-repeat 0 0;
    background-size:cover;
    padding:50px;
}

h3{
text-transform:capitalize;
text-align:center;
text-decoration:underline;
text-decoration-color: red;
}


.fontawesome{
    color:#FF4A26FF;

}
.col-md-4 i{
    font-size:100px;

}
img{
    width:100%;
    height:auto;
}

.img-fluid{
    width:100px;
    border-radius:20%;
}

h4{
    text-align:center;
    padding-top:10px;
}


.pt-3{
   background-color:#45140AFF;
    background-size:cover;
    padding:50px;
    color:#fff;
    padding:10%;
}


b::before{
    content:'\f101';
    font-family:FontAwesome;
    padding-right:5px;
}


ul li::before{
    content:'\f101';
    font-family:FontAwesome;
    padding-right:5px;
}

ol li{
    list-style:none;
    display:inline;
    padding:5px;
}


@media only screen and (max-width: 700px) {
.pt-4{
    text-align:center;
}
.w-50{
    text-align:center;
    font-size:15px;
}

.w-75{
width:300px;
justify-content:center;
}

.pt-5{
    background:url('./images/w.jpg') no-repeat 0 0;
    background-size:cover;
    padding:10;
}



ol li{
    list-style:none;
    display:inline-block;
}


}